html{
  background-color:darkslateblue ;
}

.container-fluid{
  background-color: darkslateblue;
}
input[type="text"]{
  background: transparent;
  color: whitesmoke;
  padding: 10px 10px;
}
input[type="text"]:focus{
  background: transparent;
  color: whitesmoke;
  padding: 10px 10px;

}